@media (max-width: 1520px) {}

@media (max-width: 1440px) {
    .logo {
        max-width: 215px;
    }

    .nav__title {
        font-size: 18px;
        line-height: 24px;
    }

    .btn {
        padding: 14px 0;
    }

    .header .header__main--wrapper-argument span {
        font-size: 21px;
        line-height: 100%;
    }

    .header .header__main--wrapper-title {
        max-width: 440px;
        font-size: 30px;
        line-height: 120%;
    }

    .advantages {
        font-size: 15px;
        margin-left: 15px;
    }

    .icon-advantages {
        max-width: 50px;
    }

    .statue {
        max-width: 400px;
    }
}

@media (max-width: 1200px) {
    .header .header__main--wrapper {
        margin-right: 0;
    }

    .header .header__main {
        justify-content: space-between;
    }
}

@media (max-width: 991px) {
    .logo {
        max-width: 190px;
    }

    .nav__title {
        font-size: 14px;
        line-height: 20px;
    }

    .nav__btn {
        max-width: 220px;
    }

    .header .header__main--wrapper-argument span {
        font-size: 18px;
    }

    .header .header__main--wrapper-title {
        max-width: 335px;
        font-size: 23px;
    }

    .advantages {
        font-size: 13px;
        margin-left: 12px;
    }

    .icon-advantages {
        max-width: 40px;
    }

    .statue {
        max-width: 330px;
    }

    .btn {
        font-size: 16px;
    }

    .modal-dialog {
        width: fit-content;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .modal-content {
        width: 315px;
        height: 530px;
    }

    .btn-close {
        top: 15px;
        right: 15px;
        width: 25px;
        height: 25px;
    }

    .modal-content_wrapper {
        max-width: 295px;
    }

    .modal-title {
        font-size: 24px;
    }

    .input {
        padding: 15px 0 15px 15px;
        font-size: 16px;
        line-height: 22px;
    }

    .thanks {
        max-width: 300px;
        min-height: 420px;
    }

    .thanks img {
        right: 20px;
        top: 20px;
        width: 25px;
    }

    .thanks__title {
        font-size: 24px;
    }

    .thanks__text {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .header .header__main {
        padding: 18px 0 0;
    }

    .header .header__main--wrapper-argument {
        padding: 6px 10px;
    }

    .header .header__main--wrapper-argument span {
        font-size: 15px;
    }

    .header .header__main--wrapper-title {
        font-size: 18px;
    }

    .statue {
        max-width: 275px;
    }
}

@media (max-width: 575px) {
    .header .header__main--wrapper-argument {
        margin: 0 auto;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 5px;
        max-width: 300px;
    }

    .header .header__main--wrapper-argument span {
        text-align: center;
        font-size: 20px;
    }

    .header .header__main--wrapper-title {
        font-size: 32px;
        text-align: center;
    }

    .icon-advantages {
        max-width: 50px;
    }

    .advantages {
        max-width: 230px;
        font-size: 18px;
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }

    .nav__title {
        font-size: 20px;
        line-height: 24px;
        max-width: 300px;
        margin: 0 auto;
    }
}